{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Categories</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large light-blue darken-2">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    <!--
        By using the Jinja syntax of a for-loop, we make this template able to recognize multiple (added) cards.
        We do not want them to stack on top of each other; we want them to flow within the same row, each one having their own column.
        So, we add this for-loop just inside the abose row class.
        To display the actual category name that is stored within our database, the card-title within this for-loop needs to use
        our defined index variable of 'category'. Finally, dot-notation is used to tell it which key must be printed here:
        'category.category_name', which means: "this category’s key of category_name".
    -->
    {% for category in categories %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">

            <div class="card-content white-text">
                <span class="card-title">{{ category.category_name }}</span>
            </div>
            <!--
                We need a mechanism for our app to know which category we intend to update. Since our 'Edit' and 'Delete' buttons are within the for-loop,
                we can use its index-variable to identify the specific category primary key by using '.id'.
                In addition to calling the href-url_for() function, we need to pass another argument to specify which particular category we are attempting to update.
                The argument name can be whatever we like, but it is best to use the primary key of the 'id'.
                So, we call this 'category_id', and set it to be equal to the current 'category.id':
            -->
            <div class="card-action">
                <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>

        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}